/*Header*/
body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #Ebdcb2;
    height: 110px;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    padding: 50px 0px 50px 50px;
}

.logo img {
    height: 100px;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0px 20px; 
}

nav .nav-link {
    font-weight: 600;
}

nav .nav-link:hover {
    border-bottom: 2px solid #000000;
    transition: border-bottom 0.3s;
}


@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    .logo {
        padding: 10px; 
    }

    a {
        padding: 10px 0; 
        font-size: 16px; 
    }
    .divisor {
        height: 100px; /* Altura del divisor en pantallas más pequeñas */
    }
    
}
/* fin Header*/

